<div class="card">
	<div class="card-body">
		<div class="d-flex">
			<h5 class="card-title">Categorias</h5>
			<button class="btn btn-sm btn-primary ms-auto">
				<i class="ri-add-line me-1"></i> Nova Categoria
			</button>
		</div>

		<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
			<li [ngbNavItem]="1">
				<a ngbNavLink>Despesas</a>
				<ng-template ngbNavContent>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Nome</th>
								<th scope="col">Descrição</th>
								<th scope="col">Status</th>
								<th scope="col">Ações</th>
							</tr>
						</thead>
						<tbody>
							@for (despesa of categorias_despesas; track despesa.nome; let i = $index) {
							<tr>
								<td>
									<app-icon-avatar [icone]="despesa.icone" [cor]="despesa.cor"></app-icon-avatar>
								</td>
								<td>{{ despesa.nome }}</td>
								<td>{{ despesa.descricao }}</td>
								<td>{{ despesa.ativo }}</td>
								<td>botao</td>
							</tr>
							}
						</tbody>
					</table>
				</ng-template>
			</li>
			<li [ngbNavItem]="2">
				<a ngbNavLink>Receitas</a>
				<ng-template ngbNavContent>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Nome</th>
								<th scope="col">Descrição</th>
								<th scope="col">Status</th>
								<th scope="col">Ações</th>
							</tr>
						</thead>
						<tbody>
							@for (receita of categorias_receitas; track receita.nome; let i = $index) {
							<tr>
								<td>
									<app-icon-avatar [icone]="receita.icone" [cor]="receita.cor"></app-icon-avatar>
								</td>
								<td>{{ receita.nome }}</td>
								<td>{{ receita.descricao }}</td>
								<td>{{ receita.ativo }}</td>
								<td>botao</td>
							</tr>
							}
						</tbody>
					</table>
				</ng-template>
			</li>
		</ul>

		<div [ngbNavOutlet]="nav" class="mt-2"></div>

		<pre>Active: {{ active }}</pre>
	</div>
</div>