@import 'remixicon/fonts/remixicon.css';

/* You can add global styles to this file, and also import other style files */
:root{
    --mc-blue-purple: #592EF2;
    --mc-dark: #141926;
    --mc-grey: #BFCAD9;
    --mc-green: #29F280;
    --mc-green-dark: #24733F;
}

.mc-bg-dark{
    background-color: var(--mc-dark);
}

.mc-bg-grey{
    background-color: var(--mc-grey);
}

.mc-text-green{
    color: var(--mc-green);
}

.btn-outline-secondary {
    --bs-btn-color: #A0A0A0;
    --bs-btn-border-color: #F2F4EF;
    --bs-btn-hover-color: #989898;
    --bs-btn-hover-bg: #F2F4EF;
    --bs-btn-hover-border-color: #F2F4EF;
}

.nav-tabs .nav-item{
    width: 50%;
    text-align: center;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--mc-green);
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--mc-green);
    font-weight: bold;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{

}
.nav-tabs .nav-item{
    width: 50%;
    text-align: center;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--mc-green);
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--mc-green);
    font-weight: bold;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: transparent;

}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    isolation: isolate;
    border-color: transparent;
}